<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
	<string>LESS</string>
	<key>description</key>
	<string>&lt;a href=&quot;http://lesscss.org/&quot;&gt;LESS&lt;/a&gt; is dynamic stylesheet language which extends CSS with behavior such as variables, mixins, operations and functions.</string>
	<key>uuid</key>
	<string>06c13532-b1ed-4d84-8d63-7c6e319bd37d</string>
    <key>contactEmailRot13</key>
    <string>ora@qrrcqernz.pbz</string>
    <key>contactName</key>
    <string>Ben Keating</string>
</dict>
</plist>




